.carousel_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors {
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; 
  border-bottom: 4px solid #FF0000;  
  display: inline-block;
  padding-bottom: 10px;

}



.gradient {
  background: linear-gradient(45deg, #FF0000, #3D0000);
  padding: 20px; 
  text-align: center;
  color: white; 
}
.gradient_home {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(61, 0, 0, 0.7)),url('../assets/image/skech.png');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; 
  text-align: center;
  color: white;
  width: 100%;
  height: 500px !important;
  margin-top: 50px;
}


.image-style {
 width: 100px;  
 height: 50px !important; 
 object-fit: cover; 
 border-radius: 10px;    
}


   .box_title_container{
    margin-top: 10px
  }

  .box_title_main{
    margin-bottom: 20px;
  }

  .box_title1 {
    text-align: center;
    font-size: 10px;
    color:blue
  }
  .box_title2 {
    text-align: center;
    font-size: 10px;
    color:red
  }
  .box_title3 {
    text-align: center;
    font-size: 10px;
    color:green
  }

   .box_title_color1 {
    width: 100%;
    height: 5px;
    background-color: blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
   .box_title_color2 {
    width: 100%;
    height: 5px;
    background-color: red;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
   .box_title_color3 {
    width: 100%;
    height: 5px;
    background-color: green;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
  }

.box_images {
    width: 100%;
    height: auto;  
    background-color: var(--white);   
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);  
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, auto);  
    padding: 100px 20px; 
    gap: 20px;
    row-gap: 100px;
    place-items: center;  
}

.box_images_items_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.box_images_items_container p{ 
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #0D0D0D;
}



.box_circle {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--white); 
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);  
    display: flex; 
    justify-content: center;
    align-items: center;
}

.box_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; 
}

.sponsors_container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.direction-container{
  display: flex;
  justify-content: space-between;
}

.title-container{
  padding: 20px;
}

.direction-btn{
  display: flex;
  align-items: center;
  gap: 5px;
}

.direction-btn-text{
  font-weight: bold;
}

.box {
    width: 130px;
    border-radius: 10px;
    background-color: var(--white); 
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);  
    margin-top: 20px;
}

.box_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    width: 100%;
}



.parallax_tabs{
  display: flex;
  justify-content: center;
  gap: 20px;
}

 
.safe-area-view {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
   gap: 20px;
}

.overlay {
  /* background: rgba(0, 0, 0, 0.3); */
  padding: 20px;
  border-radius: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.login-btn {
  /* background-color: var(--ac) */
  color: var(--accent-black);
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
font-weight: bold;
}

.ads-title { 
  font-size: 18px;
  color: white;
  text-align: center;
}

.parallax_container{
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.parallax_tabs {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center; 
}

.tabs {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.tabs:hover {
    color: #fff;
}

.active_tabs {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid white;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


